.lista-nav {
    display: flex;
    gap: 10px;
    list-style-type: none;

    &__link {
        text-decoration: none;
        color: $primary;
        font-size: $fs4;

        &:hover {
            font-weight: bold;
            border-top: 2px solid $primary;
            border-bottom: 2px solid $primary;
            font-size: $fs3;
        }
    }
}